<h1>Suggested Songs:</h1>
<br>
<br>
<table class="table table-hover">
  <div class="listings">
    <thead>
      <tr>
        <th>Song</th>
        <th>Artist</th>
        <th></th>
      </tr>
    </thead>
      <% @song_suggestions.each do |l| %>
      <tr>
        <td><%= l.title %></td>
        <td><%= l.artist %></td>
      </tr>
      <% end %>
  </div>
</table>

