<h1>Search Results:</h1>
<br>
<br>
<table class="table table-hover">
  <div class="listings">
    <thead>
      <tr>
        <th>Song</th>
        <th>Artist</th>
        <th>Album</th>
      </tr>
      <% @results.each do |l| %>
      
  </div>
  