@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */

body {
  padding-top: 60px;
}

.btn-pad {
  margin-top: 5px;
}

.table table-striped table-hover {
  background-color: red;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.6em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.search-form {
  margin-top: 12px;
}

/* flash */

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

 /* song preview */

 audio {
  position: relative;
  top: 50%;
  transform: translateY(+100%);
 }

 /******** pagination ********/

.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  cursor: default;
  font-family: "Lucida Grande"

}

.current_playlist {
  padding-top: 3em;
}

